dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	text-align: right;
	direction: rtl;
}
.box-title, .featured-box-title, .featured-title {
	left : 75px;
}
article.type-post .post-title, .search-result article .post-title,.small-display .post-info {
	text-align : right;
}
.sidebar-right .block-title:after{
	left : 100%
}
.sidebar-right .block-title:before {
	left : 90%
}
.menu-row h1 {
	text-align : left;
}
