/* .themify_builder_5382_row.module_row_0 Style */
.themify_builder_5382_row.module_row_0.module_row {
	background-image: url(https://themify.me/demo/demo-videos/ink_flow.jpg);
	background-size: cover;
	background-color: #ffffff;
	text-align: center;
	color: #ffffff
}
.themify_builder_5382_row.module_row_0 a {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row h6 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_0.module_row>.builder_row_cover {
	background:rgba(72,0,255, 0.80)
}

/* .module_row_0 .module_column_0.tb_5382_column Style */
.module_row_0 .module_column_0.tb_5382_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_0.tb_5382_column.module_column>.builder_row_cover:before {
	background:rgba(255,71,246, 0.85)
}

.themify_builder .text-5382-0-0-1.module-text { margin-top: 30px; margin-bottom: 30px;  } 
/* .module_row_0 .module_column_1.tb_5382_column Style */
.module_row_0 .module_column_1.tb_5382_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_1.tb_5382_column.module_column>.builder_row_cover:before {
	background:rgba(36,219,255, 0.81)
}

.themify_builder .text-5382-0-1-1.module-text { margin-top: 30px; margin-bottom: 30px;  } 
/* .module_row_0 .module_column_2.tb_5382_column Style */
.module_row_0 .module_column_2.tb_5382_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_2.tb_5382_column.module_column>.builder_row_cover:before {
	background:rgba(224,221,27, 0.79)
}

.themify_builder .text-5382-0-2-1.module-text { margin-top: 30px; margin-bottom: 30px;  } 
/* .module_row_0 .module_column_3.tb_5382_column Style */
.module_row_0 .module_column_3.tb_5382_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_3.tb_5382_column.module_column>.builder_row_cover:before {
	background:rgba(255,66,66, 0.74)
}

.themify_builder .text-5382-0-3-1.module-text { margin-top: 30px; margin-bottom: 30px;  } 
/* .themify_builder_5382_row.module_row_1 Style */
.themify_builder_5382_row.module_row_1.module_row {
	background-color: #33c8d6;
	color: #ffffff
}
.themify_builder_5382_row.module_row_1 a {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h1 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h2 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h4 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h5 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_1.module_row h6 {
	color: #ffffff
}

/* .module_row_1 .module_column_0.tb_5382_column Style */
.module_row_1 .module_column_0.tb_5382_column.module_column {
	background-image: url(https://themify.me/demo/themes/split/files/2015/08/1185374081.jpg);
	padding-top : 200px
}

/* .module_row_1 .module_column_1.tb_5382_column Style */
.module_row_1 .module_column_1.tb_5382_column.module_column {
	background-image: url(https://themify.me/demo/themes/split/files/2015/08/EnF7DhHROS8OMEp2pCkx_Dufer-food-overhead-hig-res.jpg);
	color: #ffffff;
	padding-top : 5%;
	padding-right : 5%;
	padding-bottom : 5%;
	padding-left : 5%
}
.module_row_1 .module_column_1.tb_5382_column a {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h1 {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h2 {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h3:not(.module-title) {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h4 {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h5 {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column h6 {
	color: #ffffff
}
.module_row_1 .module_column_1.tb_5382_column.module_column>.builder_row_cover {
	background:rgba(57,203,219, 0.86)
}

/* .themify_builder_5382_row.module_row_2 Style */
.themify_builder_5382_row.module_row_2.module_row {
	background-image: url(https://themify.me/demo/themes/split/files/2015/08/192041261.jpg);
	background-color: #b667eb;
	text-align: center;
	color: #ffffff
}
.themify_builder_5382_row.module_row_2 a {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h1 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h2 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h4 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h5 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row h6 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_2.module_row>.builder_row_cover {
	background:rgba(160,72,219, 0.82)
}

/* .themify_builder_5382_row.module_row_3 Style */
.themify_builder_5382_row.module_row_3.module_row {
	background-image: url(https://themify.me/demo/themes/split/files/2015/08/156861758.jpg);
	background-color: #40d6c7;
	text-align: center;
	color: #ffffff
}
.themify_builder_5382_row.module_row_3 a {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h1 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h2 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h4 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h5 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row h6 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_3.module_row>.builder_row_cover {
	background:rgba(64,214,199, 0.86)
}

.themify_builder .text-5382-3-0-1.module-text { margin-bottom: 50px;  } 
/* .themify_builder_5382_row.module_row_4 Style */
.themify_builder_5382_row.module_row_4.module_row {
	background-color: #d9ac4a;
	color: #ffffff
}
.themify_builder_5382_row.module_row_4 a {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h1 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h2 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h4 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h5 {
	color: #ffffff
}
.themify_builder_5382_row.module_row_4.module_row h6 {
	color: #ffffff
}

/* .module_row_4 .module_column_1.tb_5382_column Style */
.module_row_4 .module_column_1.tb_5382_column.module_column {
	background-image: url(https://themify.me/demo/themes/split/files/2015/08/city.jpg);
	padding-top : 5%;
	padding-right : 5%;
	padding-bottom : 5%;
	padding-left : 5%
}
.module_row_4 .module_column_1.tb_5382_column.module_column>.builder_row_cover {
	background:rgba(219,180,7, 0.89)
}

