/* Themify Customize Styling */
#site-logo img {		width: 120px;
	height: 48px; 
}
#site-description {		font-style:normal;
	font-weight:normal;
	text-decoration:none;
	text-transform:none;	text-align:left; 
}
@media screen and (max-width: 1024px) { /* Themify Customize Styling */
#site-logo img {		width: 120px;
	height: 48px; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
#site-logo img {		width: 120px;
	height: 48px; 
}
 }@media screen and (max-width: 480px) { /* Themify Customize Styling */
#site-logo img {		width: 120px;
	height: 48px; 
}
 }