/* .themify_builder_60_row.module_row_0 Style */
.themify_builder_60_row.module_row_0.module_row {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row h6 {
	color: #ffffff
}
.themify_builder_60_row.module_row_0.module_row>.builder_row_cover {
	background:rgba(4,97,184, 0.69)
}

/* .module_row_0 .module_column_0.tb_60_column Style */
.module_row_0 .module_column_0.tb_60_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_0.tb_60_column.module_column>.builder_row_cover {
	background:rgba(42,207,232, 0.30)
}

.themify_builder .text-60-0-0-1.module-text { text-align: center; padding-top: 30px; padding-bottom: 30px;  } 
/* .module_row_0 .module_column_1.tb_60_column Style */
.module_row_0 .module_column_1.tb_60_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_1.tb_60_column.module_column>.builder_row_cover:before {
	background:rgba(75,140,5, 0.52)
}

.themify_builder .text-60-0-1-1.module-text { text-align: center; padding-top: 30px; padding-bottom: 30px;  } 
.themify_builder .text-60-0-1-1.module-text a:hover { color: #15db75; color: rgba(21,219,117, 0.50);  } 
/* .module_row_0 .module_column_2.tb_60_column Style */
.module_row_0 .module_column_2.tb_60_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_2.tb_60_column.module_column>.builder_row_cover:before {
	background:rgba(209,15,15, 0.69)
}

.themify_builder .text-60-0-2-1.module-text { text-align: center; padding-top: 30px; padding-bottom: 30px;  } 
.themify_builder .text-60-0-2-1.module-text a:hover { color: #b80707; color: rgba(184,7,7, 0.50);  } 
/* .module_row_0 .module_column_3.tb_60_column Style */
.module_row_0 .module_column_3.tb_60_column.module_column {
	padding-top : 5%;
	padding-bottom : 5%
}
.module_row_0 .module_column_3.tb_60_column.module_column>.builder_row_cover:before {
	background:rgba(204,134,4, 0.55)
}

.themify_builder .text-60-0-3-1.module-text { padding-top: 30px; padding-bottom: 30px;  } 
.themify_builder .text-60-0-3-1.module-text a:hover { color: #cca610; color: rgba(204,166,16, 0.54);  } 
